<main>
  <div class="hero-head">
    <h1>About Me.</h1>
    <span class="about-underline"></span>
  </div>

  <div class="about-flex">


    <div class="about-desc">
      <h1>Rewlon<span class="about-span">Chambers</span></h1>
      <p>
        Rewlon A'men Chambers is an original artist birthed from Grand Rapids,
        Michigan. Throughout Rewlon's career he has worked with individuals and
        companies from all over. When asked what or who helped developed his
        career and why, he stated "My inspiration is you, the ones who need the
        work, want the work, love the work(Art), just as much as myself. I feel
        good to see us win together from each piece of art created and the
        meaning behind it ".
      </p>
      <p>
        Throughout his career he looks forward to working with others from a
        variety of backgrounds. Recently he graduated from Western Michigan
        University with a Bachelors of Science in University Studies with a
        minor in Interior Design. Feel free to explore and contact Rewlon
        whenever available, and get your vision brought to life!
      </p>
    </div>


    <span class="about-underlines"></span>


    <div class="progress-bar">
      <h1>Progression Skills</h1>
      <div class="skill ">
        <div class="skill-desc">
           <p>Skill 1: Adobe Programs</p>
          <p>89%</p>
        </div>
        <progress  value="89" max="100"> 
          <div pseudo="-webkit-progress-bar">
          <div pseudo="-webkit-progress-value">
          </div>
          </div>
        </progress>
      </div>
      <div class=" skill ">
        <div class="skill-desc">
          <p>Skill 2: Free hand drawing</p>
         <p>78%</p>
       </div>
        <progress  value="78" max="100"></progress>
      </div>
      <div class=" skill ">
        <div class="skill-desc">
          <p>Skill 3: Communication</p>
         <p>99%</p>
       </div>
          <progress  value="99" max="100"></progress>
        </p>
      </div>
    </div>

    <span class="about-underlines"></span>

    <div class="testimony">
      <h1>Client feedback</h1>
      <div class="test-container">
        <div class="test-desc">
        <p><b>"</b>Rewlon Chambers is by far one of the most fascinating artist that i've worked with.The way he is able to working on multiple designs in a time sensitive manner is unmatched.I would 100% recommend him to anyone who is looking for logo desgins, clothing designs etc..<b>"</b></p>
        <p><b> -Marques Smalley</b></p>
      </div>
      <div class="test-desc">
        <p><b>"</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam doloremque facilis quaerat! Saepe qui repellat exercitationem iusto, natus quas unde quidem officiis voluptatem dolore tempore!<b>"</b></p>
        <p><b> -Client name</b></p>
        </div>
      </div>
      <!-- <div class="test-container">
        <div class="test-desc">
        <p><b>"</b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni alias facilis facere omnis expedita, dicta molestias aliquid cumque esse labore consectetur quo adipisci explicabo impedit!<b>"</b></p>
        <p> <b>-Client name</b></p>
        </div>

      <div class="test-desc">
        <p><b>"</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla est incidunt quibusdam, vel corporis a, voluptatum at corrupti, quidem doloribus nostrum eos porro temporibus eligendi.<b>"</b></p>
        <p><b> -Client name</b></p>
        </div>
      </div> -->
     
    </div>
  </div>

  <div class="back-arrow">
    <a href="/">
      <i class="fas fa-long-arrow-alt-left"></i>
    </a>
    <p>Back</p>
  </div>
</main>
<nav class="nav-bar">
  <div class="contact">
    <h2>Stay in touch.</h2>
    <form action="/about" method="POST">
      <div class="name-form">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          name="name"
          minlength="4"
          value="<%= contact.name %> "
        />
      </div>

      <div class="email-form">
        <label for="email">Email</label>
        <input
          name="email"
          id="email"
          type="email"
          value="<%= contact.email %> "
        />
      </div>
      <button type="submit">Submit</button>
    </form>
    <div class="errors"></div>
  </div>
  <footer>
    <h4>Rew The Artist&copy; 2021</h4>
    <ul>
      <li>
        <a href="https://twitter.com/RewBallout"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/rewtheartist/"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCi5Ve0SDnQe0hPBI8uZ7p9Q/featured"
          ><i class="fab fa-youtube"></i
        ></a>
      </li>
    </ul>
  </footer>
</nav>
